version: "3.9"

services:
  db:
    image: postgres:15
    container_name: home_kitchen_db
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: .
    container_name: home_kitchen_backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis
  
  redis:
    image: redis:7
    container_name: redis
    # ports:
    #   - "6379:6379"

volumes:
  postgres_data:

