aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiohttp-retry==2.9.1
aiosignal==1.4.0
asgiref==3.11.0
attrs==25.4.0
certifi==2025.11.12
channels
channels_redis
charset-normalizer==3.4.4
Django==4.2.11
djangorestframework
django-cors-headers
psycopg2-binary
python-dotenv
djangorestframework_simplejwt
frozenlist==1.8.0
idna==3.11
msgpack==1.1.2
multidict==6.7.0
propcache==0.4.1
PyJWT==2.10.1
redis
requests==2.32.5
sqlparse==0.5.4
twilio==9.8.8
tzdata==2025.3
urllib3==2.6.2
yarl==1.22
python-engineio
python-socketio
